<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>GetServletContext</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  
  <display-name>Context Application</display-name>
  
  <context-param>
     <param-name>a</param-name>
     <param-value>apple</param-value>
  </context-param>
  
  
   <context-param>
     <param-name>b</param-name>
     <param-value>bansal</param-value>
  </context-param>
  
  <servlet>
  <servlet-name>MyServlet</servlet-name>
  <servlet-class>MyServlet</servlet-class>
  
  </servlet>
  
  <servlet-mapping>
  <servlet-name>MyServlet</servlet-name>
  <url-pattern>/context</url-pattern>
  </servlet-mapping>
  
  
</web-app>